[user]
	email = 78712025+mianjoto@users.noreply.github.com
	name = Miguel Jover
[init]
	defaultBranch = main
[credential]
	credentialStore = gpg
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
